<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Connection String for SQL Server -->
    <add name="BokaroClinicDB"
         connectionString="Data Source=LAPTOP-MVUJTHHU\\SQLEXPRESS;Initial Catalog=BokaroClinicDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <!-- Alternative connection string with SQL Server authentication -->
    <!-- 
    <add name="BokaroClinicDB" 
         connectionString="Data Source=localhost;Initial Catalog=BokaroClinicDB;User ID=sa;Password=Abc123" 
         providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>

  <appSettings>
    <add key="ClinicName" value="Bokaro Clinic"/>
    <add key="ClinicPhone" value="7992499909"/>
    <add key="ClinicEmail" value="abhishekkumar9909c@gamil.com"/>
    <add key="ClinicAddress" value="Bokaro, Jharkhand"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>

    <pages>
      <namespaces>

      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms"
             namespace="Microsoft.AspNet.Web.Optimization.WebForms"
             tagPrefix="webopt"/>
      </controls>
    </pages>

    <!-- Custom Error Pages -->
    <customErrors mode="Off"/>

    <!-- Session State -->
    <sessionState mode="InProc" timeout="30"/>

    <!-- Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>

    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
